.button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    color: var(--button-color, #fff);
    background-color: var(--button-bg-color, #808080);

    &[disabled] {
        cursor: not-allowed;
    }

    &:not([disabled]) {

        &:hover,
        &:focus {
            color: var(--button-color-hover, #fff);
            background-color: var(--button-bg-color-hover, #A9A9A9);
        }

        &:active {
            color: var(--button-color-active, var(--button-color, #fff));
            background-color: var(--button-bg-active, var(--button-color, #808080));
        }
    }
}