.menu-bar__item {
    all: unset;
    display: inline-flex;
    align-items: center;
    min-height: 44px;
    margin: 0 8px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}