.menu-bar {
    all: unset;
    display: flex;
    color: var(--menu-bar-color, #000);
    background-color: var(--menu-bar-bg-color, #fff);
    border-bottom: 1px solid var(--menu-bar-border-color, #ddd);
    padding: 8px 16px;

    &__list {
        all: unset;
    }
}